@charset "UTF-8";

form{
    width: 550px;
    margin: auto;
}
input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255,255, .8);
}
input:hover, textarea:hover{
    background-color: #dddddd;
}
legend{
    color: white;
    font-weight: bold;
    font-size:15pt;
    font-family: sans-serif;
}
fieldset{
    border-color: #cecece;
    margin: 20px;
    
   
}
fieldset#sexo{
    width: 150px;
}
fieldset#usuario{
    background: url("icone-contato.png") no-repeat 95% 95%;
    background-color: #cecece;
    
    
}
fieldset#endereco{
    background: url("icone-endereco.png") no-repeat 95% 95%;
    background-color: #cecece;
}
fieldset#mensagem{
    background: url("icone-mensagem.png") no-repeat 95% 95%;
    background-color: #cecece;
}
fieldset#pedido{
    background: url("icone-pagamento.png") no-repeat 95% 95%;
    background-color: #cecece;
}
form#txt p{
    font-size: 15pt;
   
}
p{
    color:black;
}
legend{
    color:red;
}
