p{
    
    color:white; 
    
    font-size: 40px; 
    
    font-family: Helvertica;

}
body{
    background-color: white;
    
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: green;
    height: 100px;
}

article{
    background-color;
    min-height:100px ;
    width: 40%; 
    float: left; 
    margin-bottom: 50px;

}
aside{
    background-color:;
    min-height: 200px; 
    width:40%;
    float: right;
    margin-bottom: 50px;
}

footer{
    clear: both;
    background-color: green;
    height: 20px;
}

h1{
    color:black;
    
}
#fundo{
    clear: both;
    background-image: url('fundo.png'); 
    background-size: 100%; 
    min-height:600px;
    padding: 40px 0 0 0;
}
h2{
 color:white;
 
}
#logo{
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  figure.foto-legendas{
    position: relative;
    box-shadow: -1px -1px -4px black ;
    
    
}


figure.foto-legendas img{
    width: "300";
    height:"215";
  

}
figure.foto-legendas figcaption{
    /* Legenda ficar opaca*/
    opacity: 0;
    /*Posiciona da legenda*/
    position: absolute;
    top: 0px;
    /* adicionando uma cor de fundo no texto*/
    background-color:rgba(51, 199, 191, 0.4);
    /*mudando a cor da letra*/
    color: white;
    /*altura e largura do quadrado onde esta a legenda*/
    width: 60%;
    height: 100%;
    left: 20%;
    padding: 70px;
    /* cirando um box dentro da a bordar para ficar ajustado a imagem*/
    box-sizing: border-box;
    /*Para a transação de opacidade demorar apenas um segundo quando passar o mouse por cima da imagem */
    transition: opacity 1s;
    text-align: center;
   
    
}
figure.foto-legendas:hover figcaption{
    /*hover cirara um efeito de quando passar o mouse por cima*/
    opacity: 1;
    
}
h3{
    margin-top: 50px;
    color: blue;
    
}
